@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ====== CSS RESET ====== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== END OF CSS RESET ====== */

.readmore-button {
    background-color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    color: black;
}

a:link {
    text-decoration: none;
}
/* ====== MOBILE CSS ====== */

@media screen and (max-width: 600px) {
    
    /* ====== Home Background Image ====== */
    .home-main {
        background-image: url(../images/mobile-home-banner-600px.png);
        height: 1000px;
    }

    /* ====== Home Text ====== */
    .main-title {
        font-family: 'Abril Fatface', cursive;
        font-size: 60px;
        color: white;
    }

    .subtitle {
        font-size: 12px;
        color: white;
        padding-bottom: 1rem;
    }

    .quote {
        color: white;
        border-left: 2px solid white;
        padding-left: 15px;
        font-family: 'PT Serif', serif;
        font-size: 30px;
        width: 220px;
    }

    .home-info {
        color: white;
        width: 280px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Lato', sans-serif;
    }

    .home-text-section {
        padding-top: 90px;
        display: block;
        width: 390px;
        margin: 0 auto;
    }

    /* ====== Navigation Bar ====== */
    .logo {
        text-align: center;
    }

    .logo img {
        width: 75px;
        height: auto;
    }

    header nav {
        max-width: 90%;
        margin: 0 auto;
    }

    header nav ul li a {
        display: block;
        background-color: #91aa9d;
        padding: 10px;
        color: black;
        margin-bottom: 10px;
        border-radius: 2px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }

    /* ===== Makes active font bolder ===== */
    nav .active {
        font-weight: 900;
    }

    .active {
        background-color: #80a8b8;

    }

    header a:hover {
        background-color: #193441;
        color: white;
    }

    /* ====== About Page ====== */

    /* ====== About Background Image ====== */
    .about-banner {
        background-image: url(../images/about-banner-600px.png);
        height: 450px;
    }

    .about-banner h3 {
        font-family: 'Abril Fatface', cursive;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 200px;
    }

    /* ====== My Story Section ====== */
    .my-story-section h4 {
        font-family: 'Abril Fatface', cursive;
        font-size: 27px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .my-story-section p {
        font-family: 'Lato', sans-serif;
    }

    .story-image {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .story-paragraph {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    /* ====== My Skills Section ====== */
    .skills-image {
        display: block;
        margin: 0 auto;
        width: 90%;
        padding-bottom: 80px;
    }

    /* ====== Download Resume Section ====== */
    .download-resume-section {
        text-align: center;
    }
    .download-resume-section p{
        font-family: 'PT Serif', serif;
        font-size: 12px;
    }

    .resume-buttons {
        padding-top: 20px;
        padding-bottom: 70px;
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .download-button {
        color: white;
        background-color: #3e606f;
        border: none;
        border-radius: 15px;
        height: 80px;
        width: 49%;
    }

    .print-button {
        color: black;
        background-color: white;
        border: solid;
        border-width: 10px;
        border-color: #193441;
        border-radius: 15px;
        height: 80px;
        width: 49%;
    }

    /* ====== Portfolio Page ====== */
    /* ====== Portfolio Background Image ====== */
    .portfolio-banner {
        background-image: url(../images/portfolio-banner-600px.png);
        height: 450px;
    }

    .portfolio-banner h3 {
        font-family: 'Abril Fatface', cursive;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 200px;
    }
    /* ====== Gallery Section ====== */
    .gallery-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .gallery-images {
        display: block;
        margin: 0 auto;
        width: 90%;
        padding-top: 20px;
    }

    .gallery-image3 {
        display: block;
        margin: 0 auto;
        width: 260px;
    }

    /* ====== Contact Page ====== */
    /* ====== Contact Background Image ====== */
    .contact-banner {
        background-image: url(../images/contact-banner-600px.png);
        height: 450px;
    }

    .contact-banner h3 {
        font-family: 'Abril Fatface', cursive;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 200px;
    }

    .contact-info {
        display: block;
        margin: 0 auto;
        width: 215px;
        padding-top: 30px;
    }

    .contact-info h5{
        font-family: 'Abril Fatface', cursive;
        font-size: 30px;
        padding-bottom: 10px;
    }

    .contact-info p{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        padding-bottom: 20px;
    }

    .social-icons {
        display: block;
        width: 250px;
        margin: 0 auto;
    }

    .social-icons img{
        padding-top: 15px;
        padding: 15px;
        padding-bottom: 10px;
    }

    /* ====== Contact Form ====== */
    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Lato', sans-serif;
        padding-bottom: 30px;
    }

    .contact-form p{
        text-align: center;
        font-family: 'Lato', sans-serif;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-family: 'PT Serif', serif;
        font-size: 12px;
    }
    
    form {
        margin: 15px;
    }
    
    .thanks_form {
        display: block;
        width: 99%;
        margin: 5px;
    }
    
    .short {
        height: 40px;
    }
    
    .message {
        height: 170px;
    }
    
    .submit-button {
        display: block;
        margin: 5px;
        background: black;
        color: white;
        border: none;
        border-radius: 25px;
        font-family: 'Lato', sans-serif;
        height: 25px;
        width: 70px;
        font-weight: 700;
    }
}

/* ====== END OF MOBILE CSS ====== */

/* ====== TABLET CSS ====== */

@media screen and (min-width: 600px) and (max-width: 900px) {

    .home-main {
        background-image: url(../images/tablet-home-banner-900px.png);
        height: 1000px;
    }

    /* ====== Home Text ====== */
    .main-title {
        font-family: 'Abril Fatface', cursive;
        font-size: 80px;
        color: white;
    }

    .subtitle {
        font-size: 15px;
        color: white;
        padding-bottom: 1rem;
    }

    .quote {
        color: white;
        border-left: 2px solid white;
        padding-left: 15px;
        font-family: 'PT Serif', serif;
        font-size: 40px;
        width: 250px;
    }

    .home-info {
        color: white;
        width: 280px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Lato', sans-serif;
    }

    .home-text-section {
        padding-top: 150px;
        display: block;
        width: 510px;
        margin: 0 auto;
    }

    /* ====== Navigation Bar ====== */
    .logo {
        text-align: center;
    }

    .logo img {
        width: 75px;
        height: auto;
    }

    header nav {
        max-width: 90%;
        margin: 0 auto;
    }

    header nav ul li a {
        display: block;
        background-color: #91aa9d;
        padding: 10px;
        color: black;
        margin-bottom: 10px;
        border-radius: 2px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }

    /* ===== Makes active font bolder ===== */
    nav .active {
        font-weight: 900;
    }

    .active {
        background-color: #80a8b8;

    }

    header a:hover {
        background-color: #193441;
        color: white;
    }

    /* ====== About Page ====== */

    /* ====== About Background Image ====== */
    .about-banner {
        background-image: url(../images/about-banner-900px.png);
        height: 350px;
    }

    .about-banner h3 {
        font-family: 'Abril Fatface', cursive;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 170px;
    }

    /* ====== My Story Section ====== */
    .my-story-section h4 {
        font-family: 'Abril Fatface', cursive;
        font-size: 36px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .my-story-section p {
        font-family: 'Lato', sans-serif;
    }

    .story-image {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .story-paragraph {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    /* ====== My Skills Section ====== */
    .skills-image {
        display: block;
        margin: 0 auto;
        width: 90%;
        padding-bottom: 80px;
    }

    /* ====== Download Resume Section ====== */
    .download-resume-section {
        text-align: center;
    }
    .download-resume-section p{
        font-family: 'PT Serif', serif;
        font-size: 15px;
    }

    .resume-buttons {
        padding-top: 20px;
        padding-bottom: 70px;
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .download-button {
        color: white;
        background-color: #3e606f;
        border: none;
        border-radius: 15px;
        height: 80px;
        width: 49%;
    }

    .print-button {
        color: black;
        background-color: white;
        border: solid;
        border-width: 10px;
        border-color: #193441;
        border-radius: 15px;
        height: 80px;
        width: 49%;
    }

    /* ====== Portfolio Page ====== */
    /* ====== Portfolio Background Image ====== */
    .portfolio-banner {
        background-image: url(../images/portfolio-banner-900px.png);
        height: 350px;
    }

    .portfolio-banner h3 {
        font-family: 'Abril Fatface', cursive;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 170px;
    }
    /* ====== Gallery Section ====== */
    .gallery-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .gallery-images {
        display: block;
        margin: 0 auto;
        width: 90%;
        padding-top: 20px;
    }

    .gallery-image3 {
        display: block;
        margin: 0 auto;
        width: 260px;
    }

    /* ====== Contact Page ====== */
    /* ====== Contact Background Image ====== */
    .contact-banner {
        background-image: url(../images/contact-banner-900px.png);
        height: 350px;
    }

    .contact-banner h3 {
        font-family: 'Abril Fatface', cursive;
        color: white;
        font-size: 55px;
        text-align: center;
        padding-top: 170px;
    }

    /* ====== Contact Info ====== */

    .contact-info {
        margin: 0 auto;
        padding-top: 30px;
        width: 75%;
    }

    .contact-info h5{
        font-family: 'Abril Fatface', cursive;
        font-size: 30px;
        padding-bottom: 10px;
    }

    .contact-info p{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        padding-bottom: 20px;
    }

    .social-icons img{
        display: block;
        padding-bottom: 3px;
    }

    /* ====== Contact Form ====== */
    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Lato', sans-serif;
        padding-bottom: 30px;
    }

    .contact-form p{
        text-align: center;
        font-family: 'Lato', sans-serif;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-family: 'PT Serif', serif;
        font-size: 15px;
    }
    
    form {
        margin: 15px;
    }
    
    .thanks_form {
        display: block;
        width: 99%;
        margin: 5px;
    }
    
    .short {
        height: 40px;
    }
    
    .message {
        height: 170px;
    }
    
    .submit-button {
        display: block;
        margin: 5px;
        background: black;
        color: white;
        border: none;
        border-radius: 25px;
        font-family: 'Lato', sans-serif;
        height: 25px;
        width: 70px;
        font-weight: 700;
    }
}

/* ====== END OF TABLET CSS ====== */

/* ====== DESKTOP CSS ====== */

@media screen and (min-width: 900px) {

    .home-main {
        background-image: url(../images/desktop-home-banner-1200px.png);
        height: 850px;
    }

    /* ====== Home Text ====== */
    .main-title {
        font-family: 'Abril Fatface', cursive;
        font-size: 80px;
        color: white;
    }

    .subtitle {
        font-size: 15px;
        color: white;
        padding-bottom: 1rem;
    }

    .quote {
        color: white;
        border-left: 2px solid white;
        padding-left: 15px;
        font-family: 'PT Serif', serif;
        font-size: 40px;
        width: 250px;
    }

    .home-info {
        color: white;
        width: 280px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Lato', sans-serif;
    }

    .home-text-section {
        padding-top: 150px;
        display: block;
        width: 510px;
        margin: 0 auto;
    }
    
    /* ====== Navigation Bar ====== */

    .logo {
        float: left;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    header a {
        color: black;
        font-weight: 700;
    }

    header nav ul li {
		display: inline-block;
        height: 100px;
        width: 100px;
        font-family: 'Lato' , sans-serif;
	}

    /* ===== Makes active font bolder ===== */
    nav .active {
        font-weight: 900;
    }

    .active {
        background-color: #91aa9d;

    }

    header a:hover {
        background-color: #193441;
        color: white;
    }

}

/* ====== END OF DESKTOP CSS ====== */

/* ====== COPYRIGHT FOOTER ====== */

    .copyright {
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: #193441;
    }

/* ====== END OF COPYRIGHT FOOTER ====== */